body {
  background-color: #17202a;
}

#p1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: "system-ui", sans-serif;
}

.game {
  display: flex;
  justify-content: center;
}

#canvas {
  border: 1px solid #fff;
  background-color: #6e2c00;
}
